[Unit]
Description=Sync openSUSE project %i every 15 min.

[Timer]
OnUnitInactiveSec=1sec
OnActiveSec=1sec
OnStartupSec=30sec
AccuracySec=1sec
RandomizedDelaySec=10sec
Unit=opensuse-rsync@%i.service

[Install]
WantedBy=timers.target
